// variables for body
$dogImageWidth: 1000px;
$dogImagHeight: 500px;
//////////////////////////////////////////////////////////////
////////////////////   Body of Website   ////////////////////
//////////////////////////////////////////////////////////////
#middle {
  //min-height: -webkit-calc(100% - #{$headerHeight} - #{$footerHeight});
  //min-height: -moz-calc(100% - #{$headerHeight} - #{$footerHeight});
  //min-height: calc(100% - #{$headerHeight} - #{$footerHeight});
  width: 100%;
  text-align: center;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
  .slider {
    padding: 0;
    margin: 0;
    height: 450px;
    width: 90%;
		margin-left: 5%;
    max-width: $dogImageWidth;
    background-color: $themeColor0;
    margin-top: 10px;
    margin-bottom: 6px;
    .sliderText {
      width: 40%;
      float: right;
      padding: 20px;
      h2 {
        color: $themeColor2;
        font-family: 'playfulFont', sans-serif;
      }
    }
  }
}
