//////////////////////////////////////////////////////////////
///////////////////////   Variables   ////////////////////////
//////////////////////////////////////////////////////////////

// Font Stacks
$fontStack: sans-serif, serif;

// Color Scheme
$white: #fff;
$black: #000;
$titleBGColor:  #933;
$titleBGColorHover:  #000;

$themeColor1: #37DA73;
$themeColor2: #00B64F;
$themeColor3: #62DA97;
$themeColor4: #007633;


//////////////////////////////////////////////////////////////
//////////////////////   Global Style   //////////////////////
//////////////////////////////////////////////////////////////



* {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body
{
  font-size: 100%;
  font-weight: 400;
  font-family: $fontStack;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

p{ text-align: left; }

body
{
  //background: url('img/repeatableBG.jpg');
  //background-size: 100% 100%;
  //background-repeat: no-repeat;
  //@include background-image(linear-gradient( #333, #222));
}


//////////////////////////////////////////////////////////////
///////////////////   Header Font Sizes   ////////////////////
//////////////////////////////////////////////////////////////


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  overflow: none;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  color: $themeColor1;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

/*
h1{ font-size: 1.0vw; }
h2{ font-size: 0.8vw; }
h3{ font-size: 0.65vw; }
h4{ font-size: 0.4vw; }
*/

//////////////////////////////////////////////////////////////
////////////////////   List Properties   /////////////////////
//////////////////////////////////////////////////////////////


ul
{
  list-style-type: none;
  margin: 0 auto;
}

li
{
  margin: 0;

}


//////////////////////////////////////////////////////////////
/////////////////////   Input Styling   //////////////////////
//////////////////////////////////////////////////////////////

fieldset, img {
  border: none;
}

a {
  text-decoration: none;
}

input, textarea  {
  font-family: $fontStack;
  font-size: 100%;
  outline: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
}
