// global variables
$stack: helvetica, arial, sans-serif;
$headerHeight: 50px;
$footerHeight: 40px;
$windowHeight: windowHeight+"px";
$dogImageWidth: 1000px;
$dogImagHeight: 500px;




@import "bourbon/bourbon"; // Mixin Library
@import "global"; // Reset / Global Styles
@import "navbar"; // Reset / Global Styles
@import "footer"; // Reset / Global Styles



//////////////////////////////////////////////////////////////
////////////////////   Heart of Website   ////////////////////
//////////////////////////////////////////////////////////////


#middle
{
	min-height: -webkit-calc(100% - #{$headerHeight} - #{$footerHeight});
	min-height: -moz-calc(100% - #{$headerHeight} - #{$footerHeight});
	min-height: calc(100% - #{$headerHeight} - #{$footerHeight});
	width: 100%;
	text-align: center;
	background-color: white;
	margin-bottom: 50px;

	.slider
	{
		display: inline-block;
		width: 90%;
		max-width: $dogImageWidth;

		.sliderText
		{
			width: 40%;
			float: right;
			padding: 20px;
			box-shadow: inset 0 0 5px green;
		}
	}


	// custom slider styling?
	#mainSlider
	{
		box-shadow: inset 0 0 5px gray;
	}
	#secondSlider
	{
		box-shadow: inset 0 0 5px red;
	}

}





//////////////////////////////////////////////////////////////
/////////////////////   Slider Styling   /////////////////////
//////////////////////////////////////////////////////////////

/* jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 {
	position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
	position: absolute;
	/* size of bullet elment */
	width: 21px;
	height: 21px;
	background: url('img/b13.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }

.jssorSliderWrapper
{
	width: 60%;
	height: 450px;
	padding: 10px;
	float: left;

	.jssorSlider
	{
		margin: 0 auto;
		float: left;

		position: relative;
		top: 0px;
		left: 0px;

		overflow: hidden;
		visibility: hidden;

		.loading
		{
			position: absolute;
			top: 0px;
			left: 0px;

			.loading_div1
			{
				filter: alpha(opacity=70);
				opacity: 0.7;
				position: absolute;
				display: block;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
			.loading_div2
			{
				position:absolute;
				display:block;
				background:url('img/loading.gif') no-repeat center center;
				top:0px;
				left:0px;
				width:100%;
				height:100%;
			}
		}

		.slides
		{
			cursor: default;
			position: relative;
			top: 0px;
			left: 0px;
			overflow: hidden;
		}

		//!++ add back nav slider here?
	}
}

#navSlider
{
	bottom:16px;right:16px;
	#navSliderBullet{ width:21px;height:21px;  }
}

// custom slider styling?
#jssor_1 { }
#jssor_2{ }
