
//////////////////////////////////////////////////////////////
/////////////////////   Navigation Bar   /////////////////////
//////////////////////////////////////////////////////////////

#mainHeader
{

	//display: inline-block;

	border-bottom: 1px solid gray;
	position: relative;
	margin: 0;
	padding: 0;

	text-align:center;

	#mainHeaderBar
	{
		@include background-image(linear-gradient( #fff, #ddd ));
		height: $headerHeight;
		width:100%;
		margin: 0;
		padding: 0;
		z-index: 10;
		box-shadow: inset 0 0 5px red;

		#headerLogo
		{
			float: left;
			height: $headerHeight;
			width: $headerHeight;
		}

		#headerTitle
		{
			float: left;
			height: 100%;
			padding-left: 10px;
			display: table-cell;
			vertical-align: middle;
			line-height: $headerHeight;
			font-size: 1.5vw;
		}

		#mainHeaderList
		{
			float: right;
			height: 100%;
			padding: 0 20px 0 0;
			display: table-cell;
			vertical-align: middle;
			line-height: $headerHeight;
			// position: absolute; top: 0;
			li
			{
				margin: 0;
				float: right;
				button
				{
					padding: 2px 4px;
					margin: 0 0 0 20px;
					font-size: 1.3vw;
					background: none;
					border: none;
					color: #000;
					//border: 1px solid #000;
					//@include background-image(linear-gradient( #777, #000));
				}

				button:hover
				{
					color: red;
				}
			}
		}
	}






	#headerImageHook
	{
		display: block;
		width:100%;
		height:auto;
		padding: 0px;
		z-index: 1;
	}

	h1
	{
		display: block;
		color: white;
		font-style: italic;
		z-index: 2;
		padding: 0;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		z-index: 2;
		position: absolute;
		bottom: 40px;
	}
	h2
	{
		display: block;
		color: white;
		z-index: 2;
		padding: 0;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		z-index: 2;
		position: absolute;
		bottom: 10px;
	}

}
