$stack: helvetica, arial, sans-serif;

@import "bourbon/bourbon"; // Mixin Library
@import "global"; // Reset / Global Styles


// local varaibles
$headerHeight: 50px;
$footerHeight: 40px;

//////////////////////////////////////////////////////////////
/////////////////////   Navigation Bar   /////////////////////
//////////////////////////////////////////////////////////////



#mainHeader{

	display: block;
	margin: 0;
	width: 100%;
	height: $headerHeight;
	border-bottom: 1px solid #666;
	@include background-image(linear-gradient( #000, #222 ));


	#headerImage
	{
		float: left;
		height: $headerHeight;
		width: $headerHeight;

		img
		{
			height: 100%;
			width: 100%;
		}
	}

	h1
	{
		float: left;
		height: 100%;
		padding-left: 10px;
		display: table-cell;
		vertical-align: middle;
		line-height: $headerHeight;
		font-size: 1.5vw;
	}

	ul
	{
		float: right;
		height: 100%;
		padding: 0 20px 0 0;
		display: table-cell;
		vertical-align: middle;
		line-height: $headerHeight;
	}

	li
	{
		margin: 0;
		float: right;
	}

	button
	{
		padding: 2px 4px;
		margin: 0 0 0 5px;
		font-size: 1.3vw;
		background: none;
		border: none;
		//border: 1px solid #000;
		//font-size: 0.8vw;
		//@include background-image(linear-gradient( #777, #000));

	}

	button:hover
	{
		color: grey;
	}
}

//////////////////////////////////////////////////////////////
/////////////////////   Navigation Bar   /////////////////////
//////////////////////////////////////////////////////////////

//min-height: 100%;


/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/

$windowHeight: windowHeight+"px";


#middle{

	//!++ might need to update this in javascript
	min-height: -webkit-calc(100% - #{$headerHeight} - #{$footerHeight});
	min-height: -moz-calc(100% - #{$headerHeight} - #{$footerHeight});
	min-height: calc(100% - #{$headerHeight} - #{$footerHeight});
	text-align: center;
	margin-top: 20px;

	#mainSlider
	{
		display: inline-block;
		width: 1200px;
		max-width: 1200px;
		background-color: gray;
		padding-top: 20px;

		.slider_wrapper{
			overflow: hidden;
			position:relative;
			width: 1200px; //!++ need to get these dimensions then scale image to this size
			height:320px;
			top:auto;
		}
		#image_slider{

			position: relative;
			height: auto;
			list-style: none;
			overflow: hidden;
			float: left;
			/*Chrome default padding for ul is 40px */
			padding: 0;
			margin: 0;
		}
		#image_slider li{
			position: relative;
			float: left;
		}
		#image_slider li img{
			border:1px solid red;
			max-height: 100%;
  		max-width: 100%;
		}

		.nvgt{
			position:absolute;
			top: 120px;
			height: 50px;
			width: 30px;
			opacity: 0.6;
		}
		.nvgt:hover{
			opacity: 0.9;
		}
		#prev{
			background: #000 url('img/prev.png') no-repeat center;
			left: 0px;
		}
		#next{
			background: #000 url('img/next.png') no-repeat center;
			right: 0px;
		}
		#pager{
			/* firefox has different center method. this doesn't work for fire fox */
			/* not in the center*/
			padding:0px;
			position:relative;
			height:50px;
			margin:auto;
			margin-top:10px;
		}
		#pager li{
			padding: 0px;
			margin:5px;
			width:20px;
			height:20px;
			border:1px solid white;
			color:white;
			list-style: none;
			opacity: 0.6;
			float:left;
			border-radius: 3px;
			cursor: pointer;
		}
		#pager li:hover{
			opacity:0.9;
		}

	}
}



//////////////////////////////////////////////////////////////
/////////////////////   Footer Styling   /////////////////////
//////////////////////////////////////////////////////////////

$iconMargin: 6px;
$iconSideLength: $footerHeight - 2*$iconMargin;


footer
{
	border-top: 1px solid #666;
	width: 100%;
	height: $footerHeight;
	@include background-image(linear-gradient( #000, #222 ));

	h5
	{
		float: left;
		width: 50%;
		line-height: $footerHeight;
		margin-left: 4px;

	}

	.SocialMediaIcons
	{
		float: right;
		width: $iconSideLength;
		height: $iconSideLength;
		margin: $iconMargin $iconMargin 0 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	#EmailIcon{ background-image: url("img/email-gray.png"); }
	#TwitterIcon{ background-image: url("img/twitter-gray.png"); }
	#TumblrIcon{ background-image: url("img/tumblr-gray.png"); }
	#YoutubeIcon{ background-image: url("img/youtube-gray.png"); }

	#EmailIcon:hover{ background-image: url("img/email.png"); }
	#TwitterIcon:hover{ background-image: url("img/twitter.png"); }
	#TumblrIcon:hover{ background-image: url("img/tumblr.png"); }
	#YoutubeIcon:hover{ background-image: url("img/youtube.png"); }

}
